@page "/race/{ActionId}/{RaceId}"

@inherits RaceViewBase

@inject IStringLocalizer<Resource> Localizer

<h3>RaceView</h3>

@if (Model == null)
{
    <Loading />
}
else
{
    <div>
        <h3>@Localizer["Race"]</h3>
        <hr />
    </div>
}

<button class="btn btn-info" @onclick="(() => NavigateToCategories())">@Localizer["Categories"]</button>

