@page "/races/{ActionId}"

@inherits RacesViewBase

@inject IStringLocalizer<Resource> Localizer
@inject NavigationManager Navigation

<h1>@Localizer["Races"]</h1>

@if (Model == null)
{
    <Loading />
}
else
{
    foreach (var race in Model.Races)
    {
        <button class="btn btn-primary" @onclick="(() => NavigateToCategoriesOf(race.Id))">
            @race.Name
        </button>
    }
}