@page "/races/{ActionId}"

@inherits RacesViewBase

@inject IStringLocalizer<Resource> Localizer

<h1>@Localizer["Races"]</h1>

@if (Model == null)
{
    <Loading />
}
else
{
    foreach (var race in Model.Races)
    {
        <div>
            <span>@race.Name</span>
        </div>
    }
}