@page "/races/{ActionId}"

@using PetsOnTrailApp.Components.ActionView

@inherits RacesViewBase

@inject IStringLocalizer<Resource> Localizer

<h1>@Localizer["Races"]</h1>

@if (Model == null)
{
    <Loading />
}
else
{
    <ActionViewHeader ActionId="@ActionId" />

    <div class="vh-100 d-flex flex-column align-items-stretch">

    @{
        bool isEven = true;
    }
    @foreach (var race in Model.Races)
    {
        var color = isEven ? "btn-primary" : "btn-info";

        <button class="btn @color" @onclick="(() => NavigateToCategoriesOf(race.Id))">
            @race.Name
        </button>

        isEven = !isEven;
    }

    </div>
}