/DogtrekkingCzGRPCService/appsettings.json
/DogtrekkingCzApp/obj
/DogtrekkingCzGRPCService/obj
/DogtrekkingCzProtos/obj
/Storage/obj
/.vs/dogtrekkingcz
/.vs/ProjectEvaluation
/DogtrekkingCzApp/bin
/DogtrekkingCzGRPCService/bin/Debug/net7.0
/DogtrekkingCzProtos/bin
/Storage/bin
