/DogtrekkingCzApp/obj
/DogtrekkingCzGRPCService/obj
/DogtrekkingCzProtos/obj
/Storage/obj
/.vs/dogtrekkingcz
/.vs/ProjectEvaluation
/DogtrekkingCzApp/bin
/DogtrekkingCzGRPCService/bin/Debug/net7.0
/DogtrekkingCzProtos/bin
/Storage/bin
/Shared/bin/Debug/net7.0/DogtrekkingCzShared.pdb
/Shared/bin/Debug/net7.0/DogtrekkingCzShared.dll
/Shared/bin/Debug/net7.0/DogtrekkingCzProtos.pdb
/Shared/bin/Debug/net7.0/DogtrekkingCzProtos.dll
/Shared/obj/Debug/net7.0/ref/DogtrekkingCzShared.dll
/Shared/obj/Debug/net7.0/refint/DogtrekkingCzShared.dll
/Shared/obj/Debug/net7.0/DogtrekkingCzShared.pdb
/Shared/obj/Debug/net7.0/DogtrekkingCzShared.GeneratedMSBuildEditorConfig.editorconfig
/Shared/obj/Debug/net7.0/DogtrekkingCzShared.dll
/Shared/obj/Debug/net7.0/DogtrekkingCzShared.csproj.FileListAbsolute.txt
/Shared/obj/Debug/net7.0/DogtrekkingCzShared.csproj.CoreCompileInputs.cache
/Shared/obj/Debug/net7.0/DogtrekkingCzShared.csproj.AssemblyReference.cache
/Shared/obj/Debug/net7.0/DogtrekkingCzShared.assets.cache
/Shared/obj/project.nuget.cache
/Shared/obj/project.assets.json
/Shared/obj/DogtrekkingCzShared.csproj.nuget.dgspec.json
