/DogtrekkingCzApp/obj
/DogtrekkingCzGRPCService/obj
/DogtrekkingCzProtos/obj
/Storage/obj
/DogtrekkingCzApp/bin
/DogtrekkingCzGRPCService/bin
/DogtrekkingCzProtos/bin
/Storage/bin
/Shared/bin
/Shared/obj
/DogtrekkingCz/bin
/DogtrekkingCz/obj
/DogtrekkingCz.Interfaces/bin
/DogtrekkingCz.Interfaces/obj
/DogtrekkingCzWebApiService/bin
/DogtrekkingCzWebApiService/obj
/.vs
