@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Protos.UserProfiles
@using PetsOnTrailApp.Pages.UserProfiles
@using Grpc.Net.ClientFactory
@using System.Security.Claims
@using PetsOnTrailApp.Services
@using MapsterMapper
@using SharedLib.Models

@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider
@inject IStringLocalizer<Resource> Loc

<AuthorizeView>
    <Authorized>
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">@Loc["Log out"]</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">@Loc["Log in"]</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private AuthenticationState _authState = null;
    private UserProfileModel Model = null;

    protected override async Task OnInitializedAsync()
    {
    }

    private async Task UpdateUserAsync()
    {
        Navigation.NavigateTo("/userprofile/manage");
    }

    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}