@page "/"
@using GpsTracker.Services
@using GpsTracker.Services.Storage
@using MapsterMapper
@using GpsTracker.Auth0

@inject IGpsPositionService GpsPositionService;
@inject PositionHistoryService PositionHistoryService;
@inject IMapper Mapper;
@inject Auth0Client AuthClient;

<h1>PetsOnTrail GPS Tracker</h1>

<div class="container">
    <button type="button" @onclick="async () => await LoginClickedAsync()">Login</button>
    State: @LoggedIn
</div>

@code {
    private string LoggedIn = "Not logged in";

    private async Task LoginClickedAsync()
    {
        var loginResult = await AuthClient.LoginAsync();

        if (!loginResult.IsError)
        {
            LoggedIn = "Logged in";
            
            StateHasChanged();
        }
        else
        {

        }
    }
}