@page "/categories/{ActionId}/{RaceId}"

@inherits CategoriesViewBase

@inject IStringLocalizer<Resource> Localizer

<h1>@Localizer["Results"]</h1>

@if (Model == null)
{
    <Loading />
}
else
{
    <ActionView />

    <div class="vh-100 d-flex flex-column align-items-stretch">

    @{
        bool isEven = true;
    }

    @foreach (var category in Model.Categories)
    {
        var color = isEven ? "btn-primary" : "btn-info";

        <button class="btn @color" @onclick="(() => NavigateToCategoryOf(category.Id))">
            @category.Name
        </button>

        isEven = !isEven;
    }

    </div>
}