@page "/categories/{ActionId}/{RaceId}"

@inherits CategoriesViewBase

@inject IStringLocalizer<Resource> Localizer

<h1>@Localizer["Results"]</h1>

@if (Model == null)
{
    <Loading />
}
else
{
    foreach (var category in Model.Categories)
    {
        <div>
            <span>@category.Name</span>
        </div>
    }
}