@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        Jsi přihlášen jako @context.User.Identity?.Name!
    </Authorized>
    <NotAuthorized>
        Nejsi přihlášen
    </NotAuthorized>
</AuthorizeView>


<SurveyPrompt Title="How is Blazor working for you?"/>