@page "/Checkpoint"

@inject IJSRuntime JsRuntime

<h3>Checkpoint</h3>

<div id="loadingMessage">🎥 Unable to access video stream (please make sure you have a webcam enabled)</div>
<canvas id="canvas" hidden></canvas>

<div id="output" hidden>
    <div id="outputMessage">No QR code detected.</div>
    <div hidden><b>Data:</b> <span id="outputData"></span></div>
</div>
  
@code {
    internal record GeoLocationPosition 
    {
        public double latitude { get; set; }
        public double longitude { get; set; }
        public double accuracy { get; set; }
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("createQrReader");
            
            var currentPosition = await JsRuntime.InvokeAsync<GeoLocationPosition>("getGpsLocation");
            
            Console.WriteLine(currentPosition);
        }
    }
}